# Web local, Ionic serve / navegador
VITE_API_BASE_URL=http://localhost:8090

# Android emulador de Android Studio
VITE_ANDROID_EMULATOR_API_BASE_URL=http://10.0.2.2:8090

# Android físico en la misma red WiFi que el PC
VITE_ANDROID_PHYSICAL_API_BASE_URL=http://192.168.1.9:8090

# URL principal usada por Android. Para emulador usa 10.0.2.2; para celular físico usa 192.168.1.9.
VITE_ANDROID_API_BASE_URL=http://10.0.2.2:8090
